<!-- customer.hbs -->
        <h1> Customers</h1>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <main>
        <section>
            <table id="customer-table"  border="1" cellpadding="5">
                <thead>
                    <tr>
                        {{#each data.[0]}}
                        <th>
                            {{@key}}
                        </th>
                        {{/each}}
                        <th>Delete</th>
                    </tr>
                </thead>

                 {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, name, email --}}
        {{#each data}}
         <tr data-value={{this.customerID}}>
            <td>{{this.customerID}}</td>
            <td>{{this.name}}</td>
            <td>{{this.email}}</td>
            <td><button onclick="deleteCustomer({{this.customerID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
            </table>
            <script src="./js/delete_customer.js"></script>

            
            <p>&nbsp;</p>
                <form id="add-customer-form-ajax">
                    <fieldset>
                    <legend> Add Customer</legend>
                    <label for="input-cname"> First Name</label>
                    <input type="text" name="input-cname" id="input-cname" size="40">

                    <label for="input-cemail"> Email</label>
                    <input type="text" name="input-cemail" id="input-cemail" size="40" aria-required="true"
                    maxlength="100" required pattern="[^ @]+@[^ @]+.[a-z]+" placeholder="name@host.com" />
                    
                    <input type="submit">
                    </fieldset>
                </form>
                {{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
                <script src="./js/add_customer.js"></script> 

        </section>
    </main>

