<!--
Students: Ignacio De La Cruz and Guibely De Aguinaga
Assignment: CS340 Project
Course: CS340 - Group 39
Code Citations: ALL code sections within this file uses code from
https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%203%20-%20Integrating%20a%20Templating%20Engine%20(Handlebars)
https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%204%20-%20Dynamically%20Displaying%20Data
https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%205%20-%20Adding%20New%20Data
https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%207%20-%20Dynamically%20Deleting%20Data
https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%208%20-%20Dynamically%20Updating%20Data
as the skeleton code.
-->

<!-- invoice_item.hbs -->
<h1>Invoice Items</h1>
<p>This is the invoice items page.</p>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


{{!-- Create a table --}}
<table id="invoice-item-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <!--       <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr> -->
        <tr>
            <th>
                Invoice Item
            </th>
            <th>
                Invoice Number
            </th>
            <th>
                Product
            </th>
            <th>
                Quantity
            </th>
            <th>
                Unit Price
            </th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr data-value="{{this.invoiceItemID}}">
            <td>{{this.invoiceItemID}}</td>
            <td>{{this.invoiceID}}</td>
            <td>{{this.productID}}</td>
            <td>{{this.orderQuantity}}</td>
            <td>{{this.unitPrice}}</td>
            <td><button onclick="deleteInvoiceItem({{this.invoiceItemID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_invoice_item.js"></script>


<!-- /views/index.hbs -->

{{!-- Form to add a record to the table --}}
<h2>Add an Invoice Item</h2>
<p>To add a new invoice item, please enter their information below and click 'Submit'!</p>
<form id="add-invoice-item-form-ajax">
    <label for="input-invoiceID">Invoice ID: </label>
    <!-- <input type="text" name="input-invoiceID" id="input-invoiceID"> -->
    <select name="input-invoiceID" id="input-invoiceID">
        <option value="">Select an Invoice</option>
        {{#each invoices}}
        <option value="{{this.invoiceID}}">{{this.invoiceID}}</option>
        {{/each}}
    </select>

    <label for="input-productID">Product ID: </label>
    <!--  <input type="text" name="input-productID" id="input-productID"> -->
    <select name="input-productID" id="input-productID">
        <option value="">Select a Product</option>
        {{#each products}}
        <option value="{{this.productID}}">{{this.productName}}</option>
        {{/each}}
    </select>

    <label for="input-orderQuantity">Quantity: </label>
    <input type="number" name="input-orderQuantity" id="input-orderQuantity" min="0">

    <label for="input-unitPrice">Unit Price: </label>
    <input type="decimal" name="input-unitPrice" id="input-unitPrice">

    <input type="submit">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_invoice_item.js"></script>