<!--
Students: Ignacio De La Cruz and Guibely De Aguinaga
Assignment: CS340 Project
Course: CS340 - Group 39
Code Citations: ALL code sections within this file uses code from
https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%203%20-%20Integrating%20a%20Templating%20Engine%20(Handlebars)
https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%204%20-%20Dynamically%20Displaying%20Data
https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%205%20-%20Adding%20New%20Data
https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%207%20-%20Dynamically%20Deleting%20Data
https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%208%20-%20Dynamically%20Updating%20Data
as the skeleton code.
-->

<h1>Invoices</h1>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<main>
    <section>


        {{!-- Create a table --}}
        <table id="invoice-table" border="1" cellpadding="5">

            {{!-- Header section --}}
            <thead>

                {{!-- For just the first row, we print each key of the row object as a header cell so we
                know what each column means when the page renders --}}
                <tr>
                    {{#each data.[0]}}
                    <th>
                        {{@key}}
                    </th>
                    {{/each}}
                    <th>delete</th>
                </tr>
            </thead>

            {{!-- Body section --}}
            <tbody>

                {{!-- For each row, print the product id, name, phone, and email, in order --}}
                {{#each data}}
                <tr data-value={{this.invoiceID}}>
                    <td>{{this.invoiceID}}</td>
                    <td>{{this.vendorID}}</td>
                    <td>{{this.invoiceDate}}</td>
                    <td><button onclick="deleteInvoice({{this.invoiceID}})">Delete</button></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <script src="./js/delete_invoice.js"></script>



        <!-- /views/invoice.hbs -->

        {{!-- Form to add a record to the table --}}
        <p>&nbsp;</p>

        <form id="add-invoice-form-ajax">
            <fieldset>
                <legend>Add Invoice</legend>
                <p>To add a new invoice, please enter their information below and click 'Submit'!</p>

                <p>
                    <label for="input-vendorID">Vendor ID: </label>
                    <select name="input-vendorID" id="input-vendorID">
                        <option value="">Select a Vendor</option>
                        {{#each vendors}}
                        <option value="{{this.vendorID}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                    {{!-- <input type="text" name="input-vendorID" id="input-vendorID"> --}}
                </p>

                <p>
                    <label for="input-invoicedate">Invoice Date: </label>
                    <input type="date" name="input-invoicedate" id="input-invoicedate">
                </p>

                <input type="submit">
            </fieldset>
        </form>

        {{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
        <script src="./js/add_invoice.js"></script>



        {{!-- Form to update a record in the table --}}
        <p>&nbsp;</p>
        <h2></h2>

        <form id="update-invoice-form-ajax">
            <fieldset>
                <legend>Update Vendor</legend>
                <p>To update a specific vendor's information select their vendor ID from the drop-down menu on the left
                    and update the information</p>
                <label for="input-iID">Invoice ID: </label>
                <select name="input-iID" id="mySelect">
                    <option value="test">Select an Invoice</option>
                    {{#each data}}
                    <option value="{{this.invoiceID}}">{{this.invoiceID}}</option>
                    {{/each}}
                </select>

                <p>
                    <label for="input-vendorID">Vendor ID: </label>
                    <select name="input-vendorID" id="update-vendorID">
                        <option value="">Select a Vendor</option>
                        {{#each vendors}}
                        <option value="{{this.vendorID}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                    {{!-- <input type="text" name="input-vendorID" id="update-vendorID"> --}}
                </p>

                <p>
                    <label for="input-invoicedate">Invoice Date: </label>
                    <input type="date" name="input-invoicedate" id="update-invoicedate" aria-required="true"
                        placeholder="dd-mm-yy">
                </p>


                <input type="submit">
            </fieldset>

        </form>

        <script src="./js/update_invoice.js"></script>

    </section>
</main>