<!--
Students: Ignacio De La Cruz and Guibely De Aguinaga
Assignment: CS340 Project
Course: CS340 - Group 39
Code Citations: ALL code sections within this file uses code from
https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%203%20-%20Integrating%20a%20Templating%20Engine%20(Handlebars)
https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%204%20-%20Dynamically%20Displaying%20Data
https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%205%20-%20Adding%20New%20Data
https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%207%20-%20Dynamically%20Deleting%20Data
https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%208%20-%20Dynamically%20Updating%20Data
as the skeleton code.
-->

<!-- Sales_items.hbs -->
<h1>Sales Items</h1>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{{!-- Create a table --}}
<table id="sales-item-table" border="1" cellpadding="5">

    {{!-- Header section --}}
     <thead>
                    <tr>
                    <th>
                        Sales Item ID
                    </th>
                    <th>
                        Sales Number
                    </th>
                    <th>
                        Menu Item
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        Unit Price
                    </th>
                    <th>
                        Delete
                    </th>
                </tr>
            </thead>

        </thead>

                 {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print each attributes --}}
        {{#each data}}
         <tr data-value={{this.salesItemID}}>
            <td>{{this.salesItemID}}</td>
            <td>{{this.salesID}}</td>
            <td>{{this.menuItemID}}</td>
            <td>{{this.orderQuantity}}</td>
            <td>{{this.unitPrice}}</td>
            <td><button onclick="deleteSalesItem({{this.salesItemID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
            </table>
            <script src="./js/delete_sales_item.js"></script>

<!-- /views/index.hbs -->

{{!-- Form to add a record to the table --}}
<h2>Add a Sales Item</h2>
<p>To add a new item to a sale, please enter their information below and click 'Submit'!</p>
<form id="add-sales-item-form-ajax">

     <fieldset>
                <legend>Add a Sales Item</legend>
                <p>To add a new sales item, please enter their information below and click 'Submit'!</p>
                <p>
                    <label for="input-salesID">Sales ID: </label>
                    <!-- <input type="text" name="input-invoiceID" id="input-invoiceID"> -->
                    <select name="input-invoiceID" id="input-salesID">
                        <option value="">Select a SalesID</option>
                        {{#each sales}}
                        <option value="{{this.salesID}}">{{this.salesID}}</option>
                        {{/each}}
                    </select>
                </p>
                <p>
                    <label for="input-menuItemID">Menu Item : </label>
                    <!--  <input type="text" name="input-productID" id="input-productID"> -->
                    <select name="input-menuItemID" id="input-menuItemID">
                        <option value="">Select an item</option>
                        {{#each menuItems}}
                        <option value="{{this.menuItemID}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                </p>

    <label for="input-orderQuantity">Quantity: </label>
    <input type="number" name="input-orderQuantity" id="input-orderQuantity" min="0">

    <label for="input-unitPrice">Unit Price: </label>
    <input type="decimal" name="input-unitPrice" id="input-unitPrice">

    <input type="submit">
    </fieldset>
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_salesItem.js"></script>



<p>&nbsp;</p>
        {{!-- Form to update a record to the table --}}

        <form id="update-sales-item-form-ajax">
            <fieldset>
                <legend>Update Sales Item</legend>
                <p>To update a specific sale item select their ID number from the drop-down menu on the left and
                    update information.</p>


                <label for="update-salesItemID">Sales Item ID: </label>
                <select name="update-salesItemID" id="update-salesItemID">
                    <option value="test">Select a Sales Item</option>
                    {{#each data}}
                    <option value="{{this.salesItemID}}">{{this.salesItemID}}</option>
                    {{/each}}
                </select>
                <p>
                    <label for="update-salesID">Sales Number: </label>
                    <select name="update-salesID" id="update-salesID">
                        <option value="">Select a SaleID</option>
                        {{#each sales}}
                        <option value="{{this.salesID}}">{{this.salesID}}</option>
                        {{/each}}
                    </select>
                </p>
                <p>
                    <label for="update-menuID">Menu Item ID: </label>
                    <select name="update-menuID" id="update-menuID">
                        <option value="">Select a menu item ID</option>
                        {{#each menuItems}}
                        <option value="{{this.menuItemID}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                </p>
                <p>

                    <label for="update-orderQuantity">Quantity: </label>
                    <input type="number" name="update-orderQuantity" id="update-quantity" min="0">
                </p>
                <p>

                    <label for="update-unitPrice">Unit Price: </label>
                    <input type="decimal" name="update-unitPrice" id="update-unitPrice" min=".01">
                </p>
                <input type="submit">
            </fieldset>

        </form>

        <script src="./js/update_sales_item.js"></script>