<!--
Students: Ignacio De La Cruz and Guibely De Aguinaga
Assignment: CS340 Project
Course: CS340 - Group 39
Code Citations: ALL code sections within this file uses code from
https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%203%20-%20Integrating%20a%20Templating%20Engine%20(Handlebars)
https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%204%20-%20Dynamically%20Displaying%20Data
https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%205%20-%20Adding%20New%20Data
https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%207%20-%20Dynamically%20Deleting%20Data
https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%208%20-%20Dynamically%20Updating%20Data
as the skeleton code.
-->

<!-- vendor.hbs -->
<h1>Vendors</h1>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<main>
    <section>



        {{!-- Create a table --}}
        <table id="vendor-table" border="1" cellpadding="5">

            {{!-- Header section --}}
            <thead>

                {{!-- For just the first row, we print each key of the row object as a header cell so we
                know what each column means when the page renders --}}
                <tr>
                    <th>Vendor ID</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Delete</th>
                </tr>
            </thead>

            {{!-- Body section --}}
            <tbody>

                {{!-- For each row, print the vendor id, name, phone, and email, in order --}}
                {{#each data}}
                <tr data-value={{this.vendorID}}>
                    <td>{{this.vendorID}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.phone}}</td>
                    <td>{{this.email}}</td>
                    <td><button onclick="deleteVendor({{this.vendorID}})">Delete</button></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <script src="./js/delete_vendor.js"></script>

        <p>&nbsp;</p>
        <!-- /views/vendor.hbs -->

        {{!-- Form to add a record to the table --}}


        <form id="add-vendor-form-ajax">
            <fieldset>
                <legend>Add Vendor</legend>
                <p>To add a new vendor, please enter their information below and click 'Submit'!</p>

                <p>
                    <label for="input-vname">Name: </label>
                    <input type="text" name="input-vname" id="input-vname">
                </p>

                <p>
                    <label for="input-vphone">Phone: </label>
                    <input type="tel" name="input-vphone" id="input-vphone">
                </p>

                <p>
                    <label for="input-vemail">Email: </label>
                    <input type="text" name="input-vemail" id="input-vemail" size="40" aria-required="true"
                        maxlength="100" required pattern="[^ @]+@[^ @]+.[a-z]+" placeholder="name@host.com">
                </p>

                <input type="submit">
            </fieldset>
        </form>

        {{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
        <script src="./js/add_vendor.js"></script>



        {{!-- Form to update a record in the table --}}
        <h2></h2>


        <p>&nbsp;</p>
        <form id="update-vendor-form-ajax">
            <fieldset>
                <legend>Update Vendor</legend>
                <p>To update a specific vendor's information select their vendor ID from the drop-down menu on the left
                    and update the information</p>

                <label for="input-vID">Vendor ID: </label>
                <select name="input-vID" id="mySelect">
                    <option value="test">Select a Vendor</option>
                    {{#each data}}
                    <option value="{{this.vendorID}}">{{this.vendorID}}</option>
                    {{/each}}
                </select>

                <p>
                    <label for="input-name">Name: </label>
                    <input type="text" name="input-name" id="update-name">
                </p>

                <p>
                    <label for="input-phone">Phone: </label>
                    <input type="tel" name="input-phone" id="update-phone">
                </p>

                <p>
                    <label for="input-email">Email: </label>
                    <input type="text" name="input-email" id="update-email" size="40" aria-required="true"
                        maxlength="100" required pattern="[^ @]+@[^ @]+.[a-z]+" placeholder="name@host.com">
                </p>


                <input type="submit">
            </fieldset>

        </form>

        <script src="./js/update_vendor.js"></script>

    </section>
</main>